# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Visual Project
/.vs
.suo
.dylib
.ipch
.log
.tlog
.vsidx
.pdb
*.suo
*.vsidx
.vs/COE-GGA/v17/.suo
*.db
*.vsidx
.vs\COE-GGA\
.vs/COE-GGA/v17/.suo
